.buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
    border: 1px yellow solid;;
}

#Rock {
    background-image: url("images/rock.jpg");
}

#Paper {
    background-image: url("images/paper.jpg");
}

#Scissors {
    background-image: url("images/scissors.jpg");
}

.btn {
    background-size: 90px 90px;
    width: 100px;
    height: 100px;
    margin:0;
    padding:0;
    border: solid 1px red;
    background-color: inherit;
    appearance: none;
    cursor: pointer;
    border: .4rem solid orange;
    opacity: 0.5;
    border-radius: 10px;
    transition: all .07s ease;
}

.selected {
    transform: scale(1.03);
    border-radius: 10px;
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
    opacity: 1.0;
}

.btn:hover {
    opacity: 1.0;
}

.container {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    margin: 40px auto;
    justify-content: space-around;
    border: 1px blue solid;
}

.textContainer {
}

#score {
    margin: 40px auto;
    text-align: center;
    border: 1px green solid;
}

.finalScore {
    border: 1px red solid;
    text-align: center;
}

.text {
    text-align: center;
}