.buttons {
    display: flex;
    gap: 40px;
    width: 200px;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    margin: 40px auto;
    justify-content: space-around;
}

.textContainer {
}

#score {
    margin: 40px auto;
    text-align: center;
}